# Byte-compiled / optimized / DLL files
*.py[cod]

# Unit test / coverage reports
.coverage

# Django stuff:
*.log

# dotenv
.env
.env.*

# Mac OS Desktop Store
*/.DS_Store
.DS_Store

# NodeJS modules
node_modules/

# bower components
photo_magick/photo_edit/static/frontend/bower_components

# staticfiles
photo_magick/photo_edit/staticfiles
